{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>SecureShop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<header>
    <a class="brand" href="/">
        <i class="fa-solid fa-shield-halved"></i>
        <span>SecureShop<small>Paiement sécurisé</small></span>
    </a>
    <nav>
        <a href="/">Accueil</a>
        <a href="/produits/">Produits</a>
        <a href="/panier/"><i class="fa-solid fa-cart-shopping"></i> Panier</a>
        {% if user.is_authenticated %}<a href="{% url 'payment_journal' %}"><i class="fa-solid fa-receipt"></i> Journal paiements</a><a href="{% url 'security_journal' %}"><i class="fa-solid fa-shield-virus"></i> Journal sécurité</a>{% endif %}

        {% if user.is_authenticated %}
            <span class="user-chip">
                <i class="fa-solid fa-circle-user"></i>
                {{ user.first_name|default:user.username }}
            </span>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="link" type="submit">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Déconnexion
                </button>
            </form>
        {% else %}
            <a href="{% url 'register' %}" class="nav-register">
                <i class="fa-solid fa-user-plus"></i> Créer un compte
            </a>
            <a class="btn" href="{% url 'login' %}">
                <i class="fa-solid fa-right-to-bracket"></i> Connexion
            </a>
        {% endif %}
    </nav>
</header>

{% if messages %}
<div class="messages-wrap">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            <i class="fa-solid fa-circle-check"></i>
            <span>{{ message }}</span>
        </div>
    {% endfor %}
</div>
{% endif %}

<main>{% block content %}{% endblock %}</main>
<footer>SecureShop — Démonstration académique de paiement sécurisé</footer>
</body>
</html>
